.groovy/*
.groovy
/output
.classpath
.metadata
.project
.externalToolBuilders
~*
*~
.settings
*.swp
/target
/core/target
/core/src/main/resources/noe/byteman
/testsuite/target
/testsuite/workspace
/workspace
/run.env
/run.env.bck
/run.env.specific
*.iml
.idea
*.out
.unison*
/out.log
noe-core.ipr
noe-core.iws
*/bin
